USE [master]
GO
/****** Object:  Database [CATALOGO_E19]    Script Date: 10 dic. 2023 15:46:07 ******/
CREATE DATABASE [CATALOGO_E19]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CATALOGO_E19', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLLABO\MSSQL\DATA\CATALOGO_E19.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CATALOGO_E19_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLLABO\MSSQL\DATA\CATALOGO_E19_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CATALOGO_E19].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CATALOGO_E19]
GO
/****** Object:  Table [dbo].[ARTICULOS]    Script Date: 10 dic. 2023 15:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICULOS](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](150) NULL,
	[IdMarca] [int] NULL,
	[IdCategoria] [int] NULL,
	[ImagenUrl] [varchar](1000) NULL,
	[Precio] [decimal](18, 0) NULL,
	[Estado] [bit] NOT NULL,
	[Stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 10 dic. 2023 15:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[Id] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[UrlImagen] [varchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGENES]    Script Date: 10 dic. 2023 15:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGENES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdArticulo] [int] NULL,
	[UrlImagen] [varchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCAS]    Script Date: 10 dic. 2023 15:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCAS](
	[Id] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[UrlImagen] [varchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO_ARTICULO]    Script Date: 10 dic. 2023 15:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO_ARTICULO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdArticulo] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 10 dic. 2023 15:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuarios] [int] NOT NULL,
	[IdArticulos] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[DireccionEntrega] [varchar](100) NOT NULL,
	[Descuento] [decimal](18, 0) NULL,
	[PrecioTotal] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 10 dic. 2023 15:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Apellido] [varchar](30) NOT NULL,
	[DNI] [int] NOT NULL,
	[Mail] [varchar](30) NOT NULL,
	[Clave] [varchar](30) NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[Nivel] [char](1) NOT NULL,
	[UrlImagen] [varchar](max) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PEDIDO_ARTICULO]  WITH CHECK ADD FOREIGN KEY([IdArticulo])
REFERENCES [dbo].[ARTICULOS] ([Id])
GO
ALTER TABLE [dbo].[PEDIDO_ARTICULO]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[PEDIDOS] ([IdPedido])
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearPedido]    Script Date: 10 dic. 2023 15:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearPedido] 
@IdUsuario int,
@IdArticulo int,
@Cantidad int,
@Fecha date,
@Estado varchar(20),
@DireccionEntrega varchar(20),
@Descuento decimal,
@PrecioTotal decimal
AS
BEGIN
	INSERT INTO PEDIDOS (IdUsuarios, IdArticulos, Cantidad, Fecha, Estado, DireccionEntrega, Descuento, PrecioTotal)
	OUTPUT inserted.IdPedido
	VALUES (@IdUsuario, @IdArticulo, @Cantidad, @Fecha, @Estado, @DireccionEntrega, @Descuento, @PrecioTotal)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarPedido_Articulos]    Script Date: 10 dic. 2023 15:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarPedido_Articulos]
(@id INT) AS 
BEGIN
SELECT P.IdArticulo, 
	   P.Cantidad, 
	   A.Nombre, 
	   A.Descripcion, 
	   M.Descripcion as 'Marca', 
	   C.Descripcion as 'Categoria', 
	   A.ImagenUrl, 
	   A.Estado, 
	   A.Stock,
	   A.Precio
FROM PEDIDO_ARTICULO P INNER JOIN ARTICULOS A ON P.IdArticulo = A.Id
INNER JOIN MARCAS M on M.Id = A.IdMarca 
INNER JOIN CATEGORIAS C on C.Id = A.IdCategoria
WHERE IdPedido = @id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarPedidos]    Script Date: 10 dic. 2023 15:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarPedidos]
AS BEGIN
SELECT  P.IdPedido as 'ID_Pedido',
		U.Id as 'ID_usuario',
		P.IdArticulos as 'ID_Articulo', 
		U.Nombre+' '+U.Apellido as 'Usuario',
		P.Cantidad as 'Cantidad_Articulos', 
		P.Fecha as 'Fecha',
		P.Estado as 'Estado', 
		P.DireccionEntrega as 'Direccion', 
		P.Descuento as 'Descuento', 
		P.PrecioTotal as 'Precio_Total_Articulo'
FROM PEDIDOS P INNER JOIN USUARIOS U ON P.IdUsuarios = U.Id
INNER JOIN ARTICULOS A ON P.IdArticulos = A.Id
END
GO
USE [master]
GO
